@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background: url(..//img/bg.png) no-repeat;
    background-size: cover;
}

main > img {
    display: inline-block;
    margin: 20px 50px 20px 70px;
    width:200px;
    height: 200px;
}



#foto {
    display: block;

}

#round {
    display: block;
    float: left;
    margin-top:-90px;
    margin-left: 50px;
    color: white;
    position: absolute;
    font-size: 30px;
    
}



#ponto {
    display: block;
    margin-top:-90px;
    margin-left: 420px;
    color: white;
    position: absolute;
    font-size: 30px;
}

div#botao {
    display: block;
    float: right;
    margin-top:-90px;
    margin-right: 100px;
}

div#botao > button {
    width: 180px;
    height: 50px;
    border: 2px solid white;
}

div#botao > button > a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    text-align: center;
   
}



